*{
    margin:0px;
    padding:0px;
}

/*Formato Index*/

.imgPrueba{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.titulo_index{
    margin-top: 15px;
}
/*Formato Index*/
.img_logo{
    width: 100%;
}


.div_img{
    width: 5%;
}

.nav_list{
    border-bottom: solid #E9D3D0;

}

.navbar-nav{
    display: flex;
    list-style-type: none;
    width: 100%;
}
.a_lista{
    color: #a70428;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: 0.5s;
}

.a_lista:hover{
    color: #000000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.img_carousel{
    height: 350px;
    object-fit: contain;
}
    
.carousel-inner{
    max-height: 624px;
    
}    
/* .grilla_principal{
    display: grid;

}
header{
    background-color: #B5838D;
    border-bottom: solid #E9D3D0;
}
.a_nav{
    text-decoration: none;
    font-weight: bold;
    color: #E9D3D0;
    font-family: 'Poppins', sans-serif;
    transition:0.5s;
}
.a_nav:hover{
    font-size: 25px;
    color: black;

}
.img_shine{
    padding-top: 5px;
    padding-left: 15px;
    width: 100px;
    height: 100px;
}
.div_nav{

    display: flex;
}
nav{
    width: 100%;

}

.ul_nav{
    display: flex;
    list-style-type: none;
    height: 150px;
}

.grilla_mainindex{
    display: grid;
    background-color:white
}

.div_mainimg{
    display: flex;
    flex-direction: column;
    /* justify-content: center; 
    align-items: center;
    background-color: white;
    border: solid 2px rgb(148, 106, 113) ;
}
.img_mainindex{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
.div_mainimg:hover{
    padding: 15px;
    border-color: black;
    font-size: 18px;
}


.button_index{
    border:  solid 2px rgb(148, 106, 113) ;
    background-color: pink;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
} */

.img_logfooter{
    height: 25px;
    width: 25px;
}
footer{
    display: flex;
    background-color: #B5838D;
    border-top: solid #E9D3D0;
}





/*Formato contacto*/

.main_contacto{
    display: grid;
}

.p_contacto{
    text-align: center;
    font-size: 20px;
}

.button_form{
    border:  solid 2px rgb(148, 106, 113) ;
    background-color: pink;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo_contacto{
    text-align: center;
    padding-top: 15px;
}


/*Formato set y packs*/
.main_setypacks{
    display: grid;
}

.titulo_setypacks{
    text-align: center;
    padding-top: 15px;
}
.div_setypacks{
    display: flex;
}

.img_setypacks{
    height: 50%;
}

.button_setypacks{
    border:  solid 2px rgb(148, 106, 113) ;
    background-color: pink;
    width: 40%;
    height: 30px;
}

/*Formato Rutinas*/
.main_rutinas{
    display: grid;
}

.titulo_rutinas{
    text-align: center;
    padding-top: 15px;
}

.div_rutinas{
    display: flex;

}

.p_rutina{
    font-weight: bold;
    text-align: center;
}

/*Formato productos*/
.main_productos{
    display: grid;
}

.titulo_productos{
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width:600px){
    .grilla_principal{
    grid-template-columns: 100%;
    grid-template-rows: 200px 50px 1500px 150px;
    grid-template-areas: "header"
                        "texto"
                        "main"
                        "footer";
}

.div_img{
    width: 8%;
}
/* .ul_nav{
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.a_nav{
    font-size: 13px;
}
.img_shine{
    padding-top: 5px;
    padding-left: 15px;
    width: 60px;
    height: 70px;
}
.div_mainimg:hover{
    padding: 15px;
    border-color: black;
    font-size: 15px;
}
.titulo_index{
    text-align: center;
} */

footer{
    flex-direction: column;
}

.footer_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_derechos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .grilla_mainindex{
    grid-template-columns: 90%;
    grid-template-rows:  15% 15% 15% 15% 15% 15%;
    grid-template-areas: "area1"
                        "area2"
                        "area3"
                        "area4"
                        "area5"
                        "area6";
    align-content: space-around;
    justify-content: space-evenly;
} */

.p_footercopy{
    text-align:center;
}

/*Contacto*/

.main_contacto{

    grid-template-columns: 90%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "area1"
                        "area2";
    justify-content: space-evenly;
    /* align-content: center; */
}

.textomapa_contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}
iframe{
    width: 90%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 150px;
}
/*Set y packs*/
.main_setypacks{
    grid-template-columns: 40% 40%;
    grid-template-rows: 14% 14% 14% 14% 14% 14% ;
    grid-template-areas: "area1 area2"
                        "area3 area4"
                        "area5 area6"
                        "area7 area8"
                        "area9 area10"
                        "area11 area12";
    justify-content: space-evenly;
    align-content: space-around;
}
.div_setypacks{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.titulo_setypacks{
    text-align: center;
    padding-top: 10px;
}

.img_setypacks{
    height: 35%;
}
/*Rutinas*/
.titulo_rutinas{
    font-size: 20px;
}

.main_rutinas{
    grid-template-columns: 40% 40%;
    grid-template-rows: 18% 18% 18% 18% 18% ;
    grid-template-areas: "area1 area2"
                        "area3 area4"
                        "area5 area6"
                        "area7 area8"
                        "area9 area10";
    justify-content: space-evenly;
    align-content: space-around;
}

.div_rutinas{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img_rutinas{
    height: 60%;
    width: 100%;
    object-fit: contain;
}
/*Productos*/
.main_productos{
    grid-template-columns: 40% 40%;
    grid-template-rows: 18% 18% 18% 18% 18% ;
    grid-template-areas: "area1 area2"
                        "area3 area4"
                        "area5 area6"
                        "area7 area8"
                        "area9 area10";
    justify-content: space-evenly;
    align-content: space-around;
}

}


@media only screen and (min-width:600px){
    .grilla_principal{
    grid-template-columns: 100%;
    grid-template-rows: 150px 80px 1000px 150px;
    grid-template-areas: "header"
                        "texto"
                        "main"
                        "footer";
}

.navbar-nav{
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.a_nav{
    font-size: 16px;
}

.div_lista{
    display: flex;
    justify-content: space-evenly;

}

.titulo_index{
    text-align: center;
    padding-top: 20px;
    color: #6e061c;
} 

.img_carousel{
    height: 350px;
    object-fit: cover;
}
    
.carousel-inner{
    max-height: 550px;
    
}  


/* .ul_nav{
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.a_nav{
    font-size: 16px;
}

.titulo_index{
    text-align: center;
    padding-top: 20px;
}

.grilla_mainindex{
    grid-template-columns: 30% 30%;
    grid-template-rows: 30% 30% 30% ;
    grid-template-areas: "area1 area2"
                        "area3 area4"
                        "area5 area6";
    align-content: space-around;
    justify-content: space-evenly;

} */

/*Contacto*/

.titulo_contacto{
    text-align: center;
    padding-top: 18px;
    font-size: 18px;
}

.main_contacto{

    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "area1 area2";
    justify-content: space-evenly;
    align-content: center;
}

.textomapa_contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
iframe{
    width: 90%;
    height: 60%;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

/*Set y packs*/

.main_setypacks{
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20% ;
    grid-template-areas: "area1 area2 area3"
                        "area4 area5 area6"
                        "area7 area8 area9"
                        " area10 area11 area12";
    justify-content: space-evenly;
    align-content: space-around;
}
.div_setypacks{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.img_setypacks{
    height: 45%;
    
}

/*Rutinas*/
.main_rutinas{
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas: "area1 area2 area3"
                        "area4 area5 area6"
                        "area7 area8 area9"
                        "area10";
    justify-content: space-evenly;
    align-content: space-around;
}

.img_rutinas{
    height: 60%;
    object-fit: cover;
}
.div_rutinas{
    flex-direction: column;
    justify-content: center;


}

/*Productos*/

.main_productos{
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% ;
    grid-template-areas: "area1 area2 area3 area4"
                        "area5 area6 area7 area8"
                        "area9 area10";
    justify-content: space-evenly;
    align-content: space-around;
}

footer{
    flex-direction: column;


}
.footer_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.footer_derechos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p_footercopy{
    text-align:center;
}
}