

.img_logo{
    width: 100%;
}

.a_lista {
    color: #a70428;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: 0.5s; 
    &:hover{
        color: #000000;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
    }
}



.img_carousel{
    height: 350px;
    object-fit: contain;
}
    
.carousel-inner{
    max-height: 624px;
    
}    
footer{
    display: flex;
    background-color: #B5838D;
    border-top: solid #E9D3D0;
}
.img_logfooter{
    height: 25px;
    width: 25px;
}

@media only screen and (max-width:600px){
    .grilla_principal{
    grid-template-columns: 100%;
    grid-template-rows: 200px 50px 1500px 150px;
    grid-template-areas: "header"
                        "texto"
                        "main"
                        "footer";
}

.div_img{
    width: 8%;
}

footer{
    flex-direction: column;
}

.footer_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_derechos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p_footercopy{
    text-align:center;
}
}

@media only screen and (min-width:600px){
    .grilla_principal{
    grid-template-columns: 100%;
    grid-template-rows: 150px 80px 1000px 150px;
    grid-template-areas: "header"
                        "texto"
                        "main"
                        "footer";
}

.a_nav{
    font-size: 16px;
}

.div_lista{
    display: flex;
    justify-content: space-evenly;

}

.titulo_index{
    text-align: center;
    padding-top: 20px;
    color: #6e061c;
} 

.img_carousel{
    height: 350px;
    object-fit: cover;
}
    
.carousel-inner{
    max-height: 550px;
    
}  
.div_img{
    width: 5%;

}
footer{
    flex-direction: column;
}

.footer_redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_derechos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p_footercopy{
    text-align:center;
}
}